.about-container {
  display: flex;
  align-items: center; /* vertical alignment */
  justify-content: space-between;
  padding-top: 200px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  gap: 30rem; /* flexible spacing */
}

.about-me {
  flex: 2;
}

.about-me h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: var(--font-primary-color);
}

.about-me p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: rgb(232, 232, 232);
}

.about-experience {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column; /* stack on small screens */
}

.star-img {
  display: flex;
  gap: 0.25rem;
}

.experience-year h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--font-primary-color);
}

.experience-year p {
  font-size: 1.25rem;
  margin: 0;
  color: rgb(232, 232, 232);
}

.my-experience {
  background-color: rgba(184, 106, 223, 0.1);
  color: var(--font-primary-color);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 100px 120px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.my-experience-desc {
  flex: 1;
  min-width: 300px;
  margin-right: 40px;
  text-align: left;
  padding: 10px;
  font: size 20px;
}

.my-experience-list {
  flex: 1;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.exp-01,
.exp-02,
.exp-03 {
  border-bottom: 0.5px solid rgb(216, 216, 216);
  padding-bottom: 0px;
  /* margin-bottom: 20px; */
}

.exp-01-period-com,
.exp-02-period-com,
.exp-03-period-com {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exp-01-sector,
.exp-02-sector,
.exp-03-sector {
  text-align: left;
  padding: 0px;
  margin: 0;
  line-height: 1.2;
}
.exp-01-sector h3,
.exp-02-sector h3,
.exp-03-sector h3 {
  font-size: 18px; /* slightly smaller font */
  margin: 0; /* removes default h3 margin */
  padding-bottom: 2px;
}

/* Award */

.award-section {
  color: var(--font-primary-color);
  text-align: center;
}

.award-title {
  text-align: center;
  font-size: 20px;
  margin-top: 144px;
  margin-bottom: 40px;
}

.award-title p {
  color: rgb(178, 178, 178);
}

.award-desc-1,
.award-desc-2 {
  background-color: black;
  margin: 40px 170px;
  padding: 50px;
  font-size: 20px;
}

.award-desc-1-name-year,
.award-desc-2-name-year {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: space-evenly;
}

.award-desc-1-givenBy p,
.award-desc-2-givenBy p {
  font-size: 20px;
  color: rgb(178, 178, 178);
  padding: 0px 0px;
}

/* My portfolio */

.my-portfolio {
  color: var(--font-primary-color);
}

.my-portfolio-title {
  text-align: center;
  font-size: 20px;
  margin-top: 144px;
  margin-bottom: 40px;
  gap: 10px;
}

.my-portfolio-title p {
  color: rgb(178, 178, 178);
}

.my-portfolio-title-list {
  color: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
  font-size: 1.5rem;
}

.my-portfolio-ui,
.my-portfolio-app-design,
.my-portfolio-graphic-design {
  background-color: black;
  font-size: 30px;
  margin: 0px 30px;
  padding: 0px 23px;
  text-align: center;
  justify-content: center;
}

.my-portfolio-web-design {
  background-color: orangered;
  font-size: 30px;
  margin: 0px 30px;
  padding: 0px 23px;
  text-align: center;
  justify-content: center;
}

.my-portfolio-website-1 {
  display: flex;
  justify-content: center;
  gap: 130px;
  margin: 35px 0px;
}

.my-portfolio-website-1 {
  position: relative;
  padding-left: 60px; /* Give space for the button */
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}

/*  Contact */

.contact {
  color: var(--font-primary-color);
  margin: 0px 100px;
  padding: 2rem 1rem;
}

.contact-title {
  text-align: center;
  font-size: 30px;
  margin-top: 190px;
}

.contact-desc {
  background-color: #fd6f001a;
  padding: 2rem;
  font-size: 1.5rem;
  margin: 2rem auto;
  text-align: center;
  max-width: 800px;
}
.name-email {
  display: flex;

  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.name,
.email,
.msge {
  flex: 1 1 100%;
  border-bottom: 0.5px solid #d8d8d8;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.5rem 0;
  text-align: left;
}

.attach-file {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  margin: 1rem 0;
}

.submit-button {
  background-color: orange;
  color: white;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  /* ALIGN LEFT INSIDE CONTAINER */
  display: inline-block;
  margin: 10px 0;
}

/* Last part */

.last-part {
  background-color: black;
  color: var(--font-primary-color);
  font-size: 40px;
  padding: 65px 300px;
}

.LOGO {
  text-align: center;
  font-size: 35px;
}

.items {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 18px;
}

.socials {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 45px;
}

.right-reserved {
  color: var(--font-primary-color);
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px 5px;
  font-size: 20px;
}
