:root {
  --orange: #fd853a;
  --bg-dark: #252525;
  --font-primary-color: #e8e8e8;
}

.container {
  padding: 0px 80px;
  background-color: rgb(37, 37, 37);
}

.header-container {
  padding: 10px 150px;
}

* {
  font-family: "Rubik", sans-serif;
}
