:root {
  --background-color: rgb(37, 37, 37);
  --font-primary-color: #feffff;
}

.container {
  padding: 0px 80px;
  background-color: rgb(37, 37, 37);

}

.header-container {
  padding: 10px 150px;
}


/* .nav-container {
  padding: 10px 150px;
} */

* {
  font-family: "Rubik", sans-serif;

}
